<footer>
  <hr />
  <p class="footerDisclaimer">
    2021 Copyrights -
    <span>{{site_title}}, All Rights Reserved</span>
  </p>
  <p class="footerNote">{{author}} - <span>Email me</span></p>
</footer>