<header class="header">
  <style>
    header { width: 100%; height: 8%; background-color: #5d5e5d; border-bottom:
    1px solid #353635; border-bottom: 20px ; }
  </style>
  <h4 class="logo">{{title}}</h4>
</header>